<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Link Shortener</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shortener/style.css' %}" >
  </head>
  <body>
    <div class="container">
      <form action="{% url 'shortener:generate_alias' %}" method="post">
        {% csrf_token %}
        <label for="url">URL Destination</label>
        <input type="text" name="url" id="url" placeholder="input url here" value="{{ url }}" required />
        {% if error_url %}<span class="text-error">{{ error_url }}</span> {% endif %}
        <br/>
        <label for="alias">Alias</label>
        <input type="text" name="alias" id="alias" placeholder="Input path alias" value="{{ alias }}" required />
        {% if error_alias %}<span class="text-error">{{ error_alias }}</span> {% endif %}
        <div class="sv-12"></div>
        <button type="submit" value="Submit">Generate</button>
        <div class="sv-12"></div>
        {% if message %}
        <div class="box-success">
          <span>
            <a href="{{ generated_url }}">{{ generated_url }}</a> {{ message }}
          </span> 
        </div>
        {% endif %}
        {% if error %}
        <div class="box-error">
          <span> 
            {{ error }}
          </span> 
        </div>
        {% endif %}
      </form>
    </div>
  </body>
</html>
