{% extends 'index.html' %} {% block content %}
<div class="links-header">
  <h4>Your Shortened Links</h4>
  <a href="/links/create" class="elevated-button">+ Create New</a>
</div>

{% if links %}
<table class="tbl-view">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for link in links %}
    <tr>
      <td>{{ link.long_url }}</td>
      <td>
        <a href="{{ link.short_url }}" target="_blank">{{ link.short_url }}</a>
      </td>
      <td>{{ link.created_at }}</td>
      <td>
        <a href="/links/edit/{{link.id}}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No shortened links found. Start by creating a new one!</p>
{% endif %} {% endblock %}
